h1 {
    color:rgb(0, 0, 0);  
    background-color: brown;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    padding: 1%;
}
h2 {
    color:navy;  
    background-color: brown;
    font-size: 250%;
    margin: 5%;
    padding: 1%;
}
h3 {
    color:rgb(77, 4, 106);  
    background-color: rgb(243, 137, 137); 
    font-size: 150%;
    margin: 5%;
    padding: 1%;
}
h4{
    margin-left: 33%;
    font-size: 200%;
}
nav{
    font-style: italic;
    font-weight:bolder;
}
body{
    color:purple;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li {
    margin-left: 5%;
}
p {
    font-size: larger;
    margin-left: 5%;
    margin-right: 5%;
}
img {
    margin-left: 40%;
    border-radius: 50%;
}